---
import DasatMark from './DasatMark.astro';
---
<header class="hd">
  <div class="hd-row">
    <a class="hd-brand" href="#top">
      <DasatMark size={36} />
      <div class="hd-brand-txt">
        <b>Dasat</b>
        <em>Servicio técnico de electrónica</em>
      </div>
    </a>
    <nav class="hd-nav">
      <a href="#tv"><span>01</span>Reparación TV</a>
      <a href="#capacidades"><span>02</span>Capacidades</a>
      <a href="#proceso"><span>03</span>Proceso</a>
      <a href="#cobertura"><span>04</span>Cobertura</a>
      <a href="#contacto"><span>05</span>Contacto</a>
    </nav>
    <a class="hd-cta" href="#contacto">
      <span class="hd-cta-dot"></span>Agendar cita
    </a>
  </div>
</header>
